$base-spacing: 4px;

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
}

input, label, button {
  font-weight: bold;
}

input {
  display: inline-block;
  padding: $base-spacing*2;
  margin: $base-spacing*2;
  border-radius: 10px;
}

button {
  min-width: $base-spacing*20;
  padding: $base-spacing*2 $base-spacing*5;
  margin: $base-spacing*2;
  border-radius: 10px;
}

@mixin horizontal-form($num-columns: 1){
  width: 100%;
  display: grid;
  grid-template-columns: repeat($num-columns, min-content auto);

  label {
    margin: $base-spacing*4 0 $base-spacing*4 $base-spacing*2 ;
  }

  .full-width-control {
    display: contents;

    & label {
      grid-column: 1;
    }

    & .control{
      grid-column-start: 2;
      grid-column-end: $num-columns*2+1;
    }
  }
}

.horizontal-form {
  @include horizontal-form(2);
}
