<p-card
      [header]="item.order + ' ' + item.name">
  <div class="flex gap-4 align-content-center">
    <ng-container *ngIf="systemFacade.selectedSystem$ | async as system">
      <ng-container *ngFor="let field of system.itemModel.dataFields">
        <span>{{field.label}}: {{item.dataFields[field.key]}}</span>
      </ng-container>
    </ng-container>
    <button pButton (click)="removeItem()"
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger">
    </button>
  </div>
</p-card>
