<p-dropdown [options]="systems"
            [(ngModel)]="selectedSystem$"
            [optionLabel]="optionLabel"
            (onChange)="buildForm($event.value)">
</p-dropdown>

<ng-container *ngIf="systemForm">
  <form [formGroup]="systemForm"
        (ngSubmit)="saveSystem()"
    class="grid p-fluid">
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">System Name</span>
      <input type="text" pInputText
        formControlName="name">
    </div>
    <div *ngIf="systemForm.controls.itemModel as itemModelForm">
      <ng-container *ngTemplateOutlet="primaryField;
        context: {
        $implicit: itemModelForm.get('nameField'),
        fieldTitle: 'Entity Name',
        valueType: fieldType.Text
        }">
      </ng-container>
      <ng-container *ngTemplateOutlet="primaryField;
        context: {
        $implicit: itemModelForm.get('orderField'),
        fieldTitle: 'Order',
        valueType: fieldType.Number
        }">
      </ng-container>

      <div *ngIf="itemModelForm.controls.dataFields.controls as dataFields">
        <h3>Data Fields</h3>
        <ng-container *ngFor="let field of dataFields; let i = index">
          <div [formGroup]="field">
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">Label</span>
              <input type="text" pInputText
                     formControlName="label">
            </div>

            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">Type</span>
              <p-dropdown [options]="fieldType | enumKeyVal"
                          optionLabel="key"
                          optionValue="value"
                          formControlName="type">
              </p-dropdown>
            </div>

            <ng-container *ngTemplateOutlet="defaultValueTemplate; context: {
              $implicit: field.controls.defaultValue,
              valueType: field.controls.type.value
            }">
            </ng-container>
          </div>
        </ng-container>
      </div>

    </div>
    <button pButton type="submit">Submit</button>
  </form>
</ng-container>


<ng-template #primaryField let-form let-fieldTitle="fieldTitle" let-valueType="valueType">
  <div [formGroup]="form">
    <h3>{{fieldTitle}}</h3>
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">Label</span>
      <input type="text" pInputText
             formControlName="label">
    </div>

    <ng-container *ngTemplateOutlet="defaultValueTemplate; context: {
      $implicit: form.get('defaultValue'),
      valueType: valueType
    }">
    </ng-container>
  </div>
</ng-template>

<ng-template #defaultValueTemplate let-formControl let-valueType="valueType">
  <div class="p-inputgroup">
    <span class="p-inputgroup-addon">Default Value</span>
    <ng-container [ngSwitch]="valueType">

      <input *ngSwitchCase="fieldType.Text"
             type="text" pInputText
             [formControl]="formControl">

      <p-inputNumber *ngSwitchCase="fieldType.Number"
                     [formControl]="formControl">
      </p-inputNumber>
    </ng-container>
  </div>
</ng-template>
