<form [formGroup]="itemForm" (ngSubmit)="addItem()">
<!--      class="grid p-fluid">-->

  <ng-container *ngIf="systemService.selectedSystem() | async as system">
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">{{system.itemModel.nameField.label}}</span>
      <input type="text" pInputText
        formControlName="name">
    </div>
    <ng-container formGroupName="dataFields">
      <ng-container *ngFor="let field of system.itemModel.dataFields">
        <div class="p-inputgroup"
          [ngSwitch]="field.type">
          <span class="p-inputgroup-addon">{{field.label}}</span>

          <input *ngSwitchCase="fieldType.Text"
            type="text" pInputText
            [formControlName]="field.key">

          <p-inputNumber *ngSwitchCase="fieldType.Number"
            [formControlName]="field.key">
          </p-inputNumber>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>

<!--  <div class="col-12">-->
<!--    <div class="p-inputgroup">-->
<!--      <span class="p-inputgroup-addon">Name</span>-->
<!--      <input type="text" pInputText-->
<!--            formControlName="name"-->
<!--            placeholder="Name">-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="col-12 md:col-6">-->
<!--    <div class="p-inputgroup">-->
<!--      <span class="p-inputgroup-addon">Health</span>-->
<!--      <p-inputNumber formControlName="health"-->
<!--            placeholder="Health">-->
<!--      </p-inputNumber>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="col-12 md:col-6">-->
<!--    <div class="p-inputgroup">-->
<!--      <span class="p-inputgroup-addon">Order</span>-->
<!--      <p-inputNumber formControlName="order"-->
<!--                     placeholder="Order">-->
<!--      </p-inputNumber>-->
<!--    </div>-->
<!--  </div>-->

  <div class="col-6 col-offset-3">
    <button pButton type="submit" class="justify-content-center">Add</button>
  </div>
</form>


